<%= render  @user%>
<ul>
<% @posts.each_with_index do |post, i|%>
  <div>
  <li class="list-posts">
  <%= link_to user_post_path(@user.id, post.id) do%>
      <p>Post #<%= i +1 %></p>
      <p><%= post.text%></p>
      <div class= 'comments-likes'>
        <p>Comments: <%= post.comments_counter.to_i %></p>
        <p>Likes: <%= post.likes_counter.to_i %></p>
      </div>
      <% end %>
    </li>
  </div>
  <div>
    <ul class="<%= comments?(post)%>">
    <% post.comments.each do |comment| %>
      <li>
        <p><%= comment.user.name %>: <%= comment.text %> </p>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
</ul>

<button class= 'btn'>Pagination</button>

